.CardLong__container{
    width: calc(100% - 100px);
    padding: 50px 50px 27px;
    margin-bottom: 52px;
    border-radius: var(--br);
    background-color: var(--blue);
}
.CardLong__title{
    font-size: 26px;
    color: var(--color-text);
    border: 0;
}
.description{
    opacity: .75;
}
.CardLong__container_footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn_ver{
    width: 47px;
    transform: rotate(90deg);
}
.tags__container{
    display: flex;
    gap: .5rem;
}
.develop{
    background-color: var(--dev-color);
}
.design{
    background-color: var(--design-color);
}
.professional{
    background-color: var(--professional-color);
}
.tutorial{
    background-color: var(--tutorial-color);
}

@media (min-width: 800px) {
    .CardLong__title{
        font-size: 36px;
    }
}