.header {
  display: flex;
  flex-direction: column;
 /* width: 100%; */
 padding: 31px 14px 0;
 background-color: var(--purple);
 border-radius: var(--br);
 margin-bottom: 100px;
}
.textContainer{
  width: 100%;
}
.text{
  opacity: .75;
}
.img{
  width: 100%;
}

@media (min-width: 800px) {
  .header {
    flex-direction: row;
    padding: 55px 14px 0 39px;
  }
  .textContainer{
    width: 55%;
  }
  .img{
    width: 50%;
  }
}