  /* global.css */

body {
    /* Colors */
    --purple: #B0ACE7;
    --blue: #6ADBFF;
    --white: #fff;

    --design-color: #B0ACE7;
    --dev-color: #E3F3FB;
    --desarrollo-p-color: #E6DFF1;
    --tutorial-color: #F2F4F6;

    --bg:#fff;

    --color-primary: #6763B6;
    --color-text: #1E1E1E;
    --color-text-light: #4f5969;
    --color-heading: #1a202c;
    --color-heading-black: black;
    --color-accent: #E6DFF1;
  
    /* Others */
    --br: 9px;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  /* Colors */
  --purple: #9F9CD4;
  --blue: #A7D7EF;

  --design-color: #9F9CD4;
  --dev-color: #A7D7EF;
  --desarrollo-p-color: #C4BBF0;
  --tutorial-color: #C1C1DB;

  --bg:#595B83;

  --color-primary: #312D47;
  --color-text: #1E1E1E;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #C4BBF0;
}


@media (min-width: 900px) {
  body{
    width: 80%;
  }
}